<template>
<div>
  <header-bar></header-bar>
  <h2>Welcome {{ user.userId }}</h2>
  <p>{{ user.userId }}</p>
  <el-button type="primary" @click="logout()">Logout</el-button>
  <footer-bar></footer-bar>
</div>
</template>

<script>
import HeaderBar from '@/components/public/HeaderBar'
import FooterBar from '@/components/public/FooterBar'

export default {
  name: 'Home',
  data () {
    return {
      user: ''
    }
  },
  created () {
    this.$api.GetUser()
      .then(({data}) => {
        if (data.code === 401) {
          this.$router.push('/login')
          this.$store.dispatch('UserLogout')
        } else if (data.length === 0) {
          this.$router.push('/login')
          this.$store.dispatch('UserLogout')
          this.$message({
            type: 'info',
            message: 'Sua senha expirou'
          })
        } else {
          this.$store.json = data[0]
          this.user = this.$store.json
          this.userId = sessionStorage.getItem('userId')
        }
      })
      .catch((err) => {
        console.log(err)
      })
  },
  components: {
    HeaderBar,
    FooterBar
  },
  methods: {
    logout () {
      this.$store.dispatch('UserLogout')
      if (!this.$store.state.token) {
        this.$router.push('/login')
        this.$message({
          type: 'success',
          message: 'Logout com sucesso'
        })
      } else {
        this.$message({
          type: 'info',
          message: 'Zicou'
        })
      }
    }
  }
}
</script>
